@import 'reset';
@import 'variables'; 
@import 'mixins'; 
@import 'placeholders'; 
@import 'functions'; 
@import 'layout';

body {
	background-image: url(../images/background.jpg);
	background-attachment: fixed;
	font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
  min-height: 100vh;
}
*, *:before, *:after {
  box-sizing: border-box;
}
a {
	justify-content: space-between;
	padding: 1.5em;
	text-decoration: none;
	cursor: pointer;
	font-size: x-large;
	color: white;
	&:hover {
		text-decoration: none;
    color: orange;
  }
}
#burger{
  display: none;
}

/*Partials*/
header {
	nav {
    width: 100%;
    text-align: center;
    padding: 1.5em;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0.4);
		display: flex;
		justify-content: space-between;
    align-items: center;
    #burger  {
      display: none;
    }
     div:nth-child(5){
      display: none;
    }
    #cart > :first-child{
      display: block;
      flex-direction: row;
      padding: 0;
      font-size: 15px;
    }   
    }
    #logo {
      margin-left: 40px;
    }
  #account {
    .dropbtn {
      justify-content: space-between;
      text-decoration: none;
      margin-right: 60px;
      cursor: pointer;
      font-size: x-large;
      letter-spacing: 2px;
      color: white;
      &:hover {
        text-decoration: none;
        color: orange;
      }
    }  
    .dropdown {
      position: relative;
      display:block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      text-align: left;
      box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      background:rgba(darkgrey,0.5); 
      display: block;
      &:hover {
        text-decoration: none;
        color: orange;
        background-color:white;
      }
    }
    .dropdown:hover .dropdown-content {
      display: block;
      background-color: none;
    } 
    .dropdown:hover .dropbtn {
      text-decoration: none;
      cursor: pointer;
      letter-spacing: 2px;
      color: white;
    }
  }
}

#categories {
  justify-content: center;
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 210px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  }
  .dropdown-content a {
    color: white;
    padding: 16px;
    text-decoration: none;
    background:rgba(darkgrey,0.5); 
    border-radius: 1px;
    display: block;
    &:hover {
      text-decoration: none;
      color: orange;
    }
  }
  .dropdown-content a:hover {
    background-color:white;
  }
    .dropdown:hover .dropdown-content {
    display: block;
    background-color: none;
  } 
  .dropdown:hover .dropbtn {
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
    color: white;
    &:hover {
      text-decoration: none;
      color: orange;
    }
  }
}
main {
  max-width: 1600px;
  min-height: 81vh;
  margin: auto;
  padding: 30px;
  .responsive-profil {
    display: none;
  }
}
footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  a {
    font-size: 15px;
    padding: 2px;
    margin-left: 3px;
    img {
      margin-left: 5px;
    }
  }
}
/*formulaire*/
.form {
    border: 1px solid white;
    background-color: rgba(117, 190, 218, 0.1);
    max-width: 500px;
    text-align:center;
    border-radius: 4px;
    justify-content: center;
    padding: 30px;
    margin:20px auto;
    box-shadow:0 1px 3px 1px rgba(black, .5); 
    .headform{
        list-style:none;
        padding:0;
        margin:0 0 40px 0;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
      li {
        display:block;
        text-decoration:none;
        padding:15px;
        background:rgba(lightgrey,.25);
        font-size:20px;
        float:left;
        width:50%;
        text-align:center;
        cursor:pointer;
        transition:.5s ease;
        box-shadow:0 1px 3px 1px rgba(black, .3); 
        &:hover {
          background:white;
          color:orange;
        }
      }
    }
    a {
      padding: 0;
    }
    #tab-content-connexion {
      display: none;
    }
    .signup-content{
      flex-direction: column;
      input {
        font-size:20px;
        padding:5px 10px;
        background:none;
        border:1px solid lightgrey;
        color:white;
        border-radius:0;
        box-shadow:0 1px 3px 1px rgba(black, .3); 
        transition:border-color .25s ease, box-shadow .25s ease;
        &:focus {
              outline:0;
              border-color:orange;
          }
      }
      input[type="checkbox"]{
        width: 15px;
        height: 15px; 
        cursor: pointer;
      }
      label {
        display: flex;
        text-align: left;
        font-size: 20px;
        margin-bottom: 0.1rem;
      }
      label + input {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
    #obligatory {
      display: flex;
      text-align: left;
      font-size: 12px;
      margin-bottom: 0.4rem;
    }
    #forgot{
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      a {
        margin-bottom: 1rem;;
      }
    }
      button, input[type=submit] {
        border:0;
        width: 100%;
        outline:none;
        border-radius:0;
        padding:10px 0;
        font-size:2rem;
        letter-spacing:.1em;
        cursor: pointer;
        background:white;
        color:black;
        &:hover, &:focus {
          background:orange;
          color:white
        }
      }
  }
 /*Accueil*/ 
.container {
  max-width: 800px;
  min-height: 100%;
  text-align: left;
  justify-content: center;
  margin: 0 auto;
  h3 {
    text-align: center;
  }
      .success {
        border: 1px solid white;
        padding: 0.5rem;
        background-color: orange;
        color: white;
      }
      .danger {
        border: 1px solid white;
        padding: 0.5rem;
        background-color: orangered;
      }
  .article{
    border: 1px solid white;
    background-color: rgba(117, 190, 218, 0.05);
    max-width: 700px;
    border-radius: 3px;
    text-align: left;
    justify-content: center;
    padding: 20px;
    margin: 22px auto;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 1);
    a {
      padding: 0;
      font-weight: bold;
    }
    h1 {
      margin: 0 0 0 auto;
      text-align: left;
    }
    p {
      font-size: 1.4rem;
      margin-left: 15px;
    }
  }
}
/*Categories*/
.category-container {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgba(117, 190, 218, 0.1);
  border: 1px solid white;
  border-radius: 4px;
  justify-content: center;
  padding: 30px;
  margin: 2rem auto;
  a {
    padding: 1rem;
  }
  div {
    margin-bottom: 1rem;
  }
  img {
    width: 100%;
    height: auto;
  }
}

/*Liste des produits*/
#product-list {
  display: flex;
  flex-direction: row;
  .filters {
    max-width: 200px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    max-height: 75vh;
    background-color: rgba(117, 190, 218, 0.1);
    border: 1px solid white;
    margin: 25px auto;
    padding: 2em;
    input[type=checkbox]{
      width: 15px;
      height: 15px; 
      cursor: pointer;
    }
    h2 {
      margin: 0;
    }
    h4{
      margin-bottom: 1rem;
    }
    div {
      margin-bottom: 1rem;
      margin-left: 0.6rem;
    }
    label {
      margin-left: 1rem;
    }
  }
  .products-container {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 4px;
    div {
      box-shadow: 1px 3px 3px 1px black;
      height: 430px;
      padding: 0;
    }
    a {
      padding: 0;
      margin: 22px 30px;
      justify-content: space-evenly;
    .card {
      cursor: pointer;
        }
      }
    .product-head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
      float: right;
      background-color: white;
      color: black;
      width: 300px;
      height: 50px;
      margin-bottom: 0.1rem;
      box-shadow:1px 1px black;
    }
  }
}
/* page profil */
.profil-container {
  display: flex;
  justify-content: space-around;
  .orders-form {
    border: 1px solid white;
    background-color: rgba(117, 190, 218, 0.1);
    border-radius: 4px;
    justify-content: center;
    padding: 30px;
    margin:20px auto;
    box-shadow:0 1px 3px 1px rgba($color: black, $alpha: .3);
    .orders {
      margin-top: 1em;
      border: 1px solid white;
      padding: 0.5em;
      border-collapse: collapse;
      text-align: left;
      th, td {
        padding: 1em;
        border:1px solid white;
      }
      tr:nth-child(odd) td{
        background-color:rgba(0, 0, 0, 0.4);
      }
      td a:last-child {
        padding: 0;
        justify-content: center;
      }
    } 
  }
  .profil {
    display:flex;
    text-decoration:none;
    justify-content: center;
    padding:15px;
    background:rgba(lightgrey,.25);
    color:lightgrey-light;
    font-size:20px;
    width: 100%;
    box-shadow:0 1px 3px 1px rgba($color: black, $alpha: .3); 
  }
}

/* page produit */
 .product-container {
   max-width: 1000px;
   border: 1px solid white;
   display: flex;
   margin: 2em auto;
   #product-img {
     padding: 2em;
     cursor: pointer;
   } 
   #description {
    margin: 2em;
    border: 1px solid white;
    background-color: rgba(117, 190, 218, 0.1);
    max-width: 600px; 
    padding: 2em;
    form {
      #quantity {
        width: 35%;
      }
    }
      input[type=submit] {
        margin-top: 20px;
        border:0;
        width: 100%;
        outline:none;
        border-radius:2px;
        padding:9px 0;
        font-size:2rem;
        letter-spacing:.1em;
        cursor: pointer;
        background:white;
        color:black;
        &:hover, &:focus {
          background:orange;
          color:white
        }
      }
    }
    div {
      display: inline-block;
    }
    h3 {
      margin-top: 0;
      font-size: 20px;
    }
    p {
      font-size: 1.5em;
      height: 15vh;
      margin-bottom: 0;
    }
    #price {
      display: flex;
      justify-content: center;
      font-size: 6rem;
    }
   }

   /* Panier*/
 .cart-container {
  max-width: 710px;
  display: block;
  margin: 2em auto;
  text-align: center;
  .hide {
    display:none;
  }
  .success {
    border: 1px solid white;
    padding: 0.5rem;
    background-color: #17a2b8;
    color: white;
  }
  .danger {
    border: 1px solid white;
    padding: 0.5rem;
    background-color: orangered;
  }
  #cart {
    max-width: 900px;
    border-collapse: collapse;
    thead > tr > td:first-child {
      columns: 1;
    }
    tbody > tr > td:first-child {
      columns: 1;
    }
    tr:nth-child(odd) td{
      background-color:rgba(0, 0, 0, 0.3);
    }
    thead th {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      border:1px solid white;
      font-size:20px;
    }
    th, td {
      text-align: center;
      padding: 1em;
    }
    tfoot th {
      text-align: right;
      font-size: 20px;
    }
  } 
  #validation {
    display: flex;
    justify-content: flex-end;
    input[type=submit] {
      width: 40%;
      margin-top: 20px;
      border:0;
      max-width: 100%;
      outline:none;
      border-radius:2px;
      padding:9px 0;
      font-size:1.3rem;
      letter-spacing:.1em;
      cursor: pointer;
      background:white;
      color:black;
      &:hover, &:focus {
        background:orange;
        color:white
      }
    }
  }
 }
 @media(max-width: 1300px){

  .filters {
    width: 300px;
    position: sticky;
    top: 20px;
    background-color: rgba(117, 190, 218, 0.1);
    border: 1px solid white;
    margin: 25px auto;
    padding: 2em;
    input[type=checkbox]{
      width: 15px;
      height: 15px; 
      cursor: pointer;
    }
    h2 {
      margin: 0;
    }
    div {
      margin-bottom: 1rem;
      margin-left: 0.6rem;
    }
    label {
      margin-left: 1rem;
    }
  }
}
@media(max-width: 1200px) {
  header {
    margin: 0;
    justify-content: space-evenly;
    a {
      padding: 0;
      justify-content: space-evenly;
    }
    #categories{
      display: none;
    }
    #account .dropbtn {
      margin-right: 0;
    }
    #categories {
      justify-content: space-evenly;
    }
    nav > #burger  {
      display: block;
      margin-right: 60px;
      margin-top: 5px;
    } 
  }
  .products-container{
    display: flex;
  }
  .filters {
    width: 300px;
    position: sticky;
    top: 20px;
    background-color: rgba(117, 190, 218, 0.1);
    border: 1px solid white;
    margin: 25px auto;
    padding: 2em;
    input[type=checkbox]{
      width: 15px;
      height: 15px; 
      cursor: pointer;
    }
    h2 {
      margin: 0;
    }
    div {
      margin-bottom: 1rem;
      margin-left: 0.6rem;
    }
    label {
      margin-left: 1rem;
    }
  }
}
@media (max-width: 1100px) {
  .filters {
    width: 300px;
    position: sticky;
    top: 20px;
    max-height: 75vh;
    background-color: rgba(117, 190, 218, 0.1);
    border: 1px solid white;
    margin: 25px auto;
    padding: 2em;
    input[type=checkbox]{
      width: 15px;
      height: 15px; 
      cursor: pointer;
    }
    h2 {
      margin: 0;
    }
    div {
      margin-bottom: 1rem;
      margin-left: 0.6rem;
    }
    label {
      margin-left: 1rem;
    }
  }
  main {
    .product-container {
      p {
        font-size: 1.5em;
      }
      h3 {
        margin-top: 0;
        font-size: 1.2rem;
      }
      #stats {
        margin-top: 0.5rem;
        font-size: 1em;
        text-align: center;
      }
      #price {
        font-size: 6rem;
      }
    }
  }
}
@media (max-width: 1000px){
  .filters {
    display: none;
  }
}
@media (max-width: 990px){
  main {
    .product-container {
      #price {
        font-size: 4rem;
        margin-right: 0;
      }
    }
    .profil-container {
      display: flex;
      flex-flow: row wrap;
      .form input[type=submit] {
        font-size: 1rem;
      }
      .orders-form .orders td a:last-child {
        padding: 0;
        justify-content: center;
      }
    }
  }
}
@media(max-width: 900px){
  main {
    .product-container {
      #description {
        display: block;
      }
      p {
        margin-bottom: 2rem;
        font-size: 1.5em;
      }
      h3 {
        font-size: 1rem;
      }
      #stats {
        font-size: 1em;
        text-align: center;
      }
      p {
        height: 10vh;
      }
      #price {
        font-size: 4rem;
        margin-right: 20px;
      }
    }
  }
}
@media(max-width: 885px){
  main {
    .product-container {
      h3 {
        font-size: 1rem;
      }
      #stats {
        font-size: 1em;
        text-align: center;
      }
      #price {
        font-size: 3.5rem;
        margin-right: 20px;
      }
      p {
        height: 15vh;
      }
    }
  }
}
@media (max-width: 870px){
  main {
    .product-container {
      width: 500px;
      border: 1px solid white;
      display: flex;
      flex-flow: row wrap;
      margin: 0 auto;
       #product-img {
        margin: 0 70px;
        width: 70%; 
      } 
      #description {
       padding: 1em;
       form {
         #quantity {
           width: 50%;
         }
       }
       }
       div {
         display: inline-block;
       }
       h3 {
         margin-top: 0;
         font-size: 20px;
       }
       p {
         font-size: 1.5em;
         height: 15vh;
         margin-bottom: 0;
       }
       #price {
         display: flex;
         justify-content: center;
         font-size: 4rem;
       }
      }
  }
}
@media(max-width: 800px){
  header {
    justify-content: space-evenly;
    nav {
      #account {
        display: none;
      }
      div:last-child{
        display: block;
      }
      div:nth-child(5){
        display: block;
      }
      #cart > :first-child{
        display: none;
      }
    } 
  }
  #categories {
    display: none;
  }
  footer {
    a:first-child{
      display: none;
    }      
  }
    main {
      .responsive-profil {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;  
        a {
          padding: 20px;
        }
      }
    .cart-container {
      #validation {
        display: block;
        input[type=submit] {
          width: 100%;
        }
      }
      a {
        font-size: 15px;
      }
      table, thead, tbody, th, td, tr, tfoot { 
        display: block; 
        font-size: 25px;
      }
      thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr { 
        border: 1px solid white; 
      }
    
      td { 
        border: none;
        border-bottom: 1px solid white; 
        position: relative;
        padding-left: 10%; 
      }
      td:before { 
        position: absolute;
        top: 25px;
        left: 25px;
        width: 30%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align: left;
      }
      td:nth-of-type(2):before { 
        content: "Produit :"; 
      }
      td:nth-of-type(3):before {
         content: "Quantité :"; 
      }
      td:nth-of-type(4):before {
         content: "Prix :"; 
      }
      td:nth-of-type(5):before {
         content: "Action :"; 
      }
      td:nth-of-type(6):before { 
        content: "Total :"; 
      }
      tfoot {
        td:nth-of-type(2):before {
          content: none;
        }
      }
    }
  }
  
}
@media(max-width: 600px){
  main {
    .responsive-profil {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;  
      a {
        padding: 5px;
      }
    }
    .cart-container{
      td {
        font-size: 20px;
        &:before { 
          position: absolute;
          top: 15px;
          left: 12px;
          font-size: 15px;
          text-align: left;
        }
      }
    }
    .product-container {
      width: 400px;
       img{
        width: 100%; 
        text-align: center;
        margin-top: 15px;
      } 
      #description {
       margin: 1em;
       form {
         #quantity {
           width: 50%;
           justify-content: center;
         }
       }
         input[type=submit] {
           font-size:1rem;
         }
       }
       p {
         font-size: 1em;
         height: 10vh;
       }
      }
  }
}
@media(max-width: 550px){
  header {
    #logo {
      margin-left: 10px;
    }
    nav > div:nth-child(5){
      display: none;
    }
    nav > #burger  {
      margin-top: 5px;
      margin-right: 10px;
    }
  }
  main {
    .cart-container{
      td {
        font-size: 20px;
        &:before { 
          position: absolute;
          top: 25px;
          left: 12px;
          font-size: 15px;
          
          text-align: left;
        }
      }
    }
    .profil-container{
      .orders-form {
        border: none;
        background: none;
        box-shadow: none;
      }
      table, thead, tbody, th, td, tr, tfoot { 
        display: block; 
        font-size: 25px;
        text-align: center;
        border: none;
      }
      thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
   /*    tr { 
        border: 1px solid white; 
      } */
    }
  }
}
@media(max-width: 500px){
  main {
    .product-container {
       #product-img {
        margin: 0 70px;
        width: 90%; 
      } 
      #description {
       margin: 1em 2em;
       border: 1px solid white;
       background-color: rgba(117, 190, 218, 0.1);
       width: 350px; 
       padding: 1em;
       form {
         #quantity {
           width: 35%;
         }
       }
       }
       div {
         display: inline-block;
       }
       h3 {
         margin-top: 0;
         font-size: 15px;
       }
       p {
         font-size: 1em;
       }
       #price {
         margin-left: 30px;
         font-size: 2rem;
       }
      }
  }
}
@media (max-width: 460px) {
  main {
    .product-container {
      width: 350px;
       #product-img {
        width: 100%; 
      } 
      #description {
       margin-top: 1rem;
       border: 1px solid white;
       background-color: rgba(117, 190, 218, 0.1);
       width: 300px; 
       padding: 1em;
       form {
         #quantity {
           width: 35%;
         }
       }
       }
       div {
         display: inline-block;
       }
       h3 {
         margin-top: 0;
         font-size: 20px;
       }
       #price {
         margin-left: 30px;
         font-size: 2rem;
       }
      }
  }
}
@media (max-width: 420px) {
  
}
@media (max-width: 400px) {
  main {
    .products-container {
      width: 50%;
    }
    .cart-container{
      td {
        font-size: 15px;
        &:before { 
          position: absolute;
          top: 16px;
          left: 12px;
          font-size: 15px;
          text-align: left;
        }
      } 
    }
    .product-container {
      border: 1px solid white;
      width: 300px;
       #product-img {
        width: 100%;
      } 
      .zoom {
        padding: 50px;
        transition: transform .2s;
        width: 200px;
        height: 200px;
        margin: 0 auto;
      }
      
      .zoom:hover {
        transform: scale(1.5);
      }
      #description {
        border: none;
       background-color: rgba(117, 190, 218, 0.1);
       width: 300px; 
       form {
         #quantity {
           width: 35%;
         }
       }
       p {
         height: 15vh;
       }
       }
       div {
         display: inline-block;
       }
       h3 {
         margin-top: 0;
         font-size: 20px;
       }
       #price {
         margin-left: 30px;
         font-size: 2rem;
       }
    }
  }
}