@import 'reset';
@import 'variables'; 
@import 'mixins'; 
@import 'placeholders'; 
@import 'functions'; 
@import 'layout';

body {
	background-image: url(../images/background.jpg);
	background-attachment: fixed;
	font-family: "Roboto", sans-serif;
  color: white;
  min-height: 100vh;
}
*, *:before, *:after {
  box-sizing: border-box;
}

footer{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  div {
    margin-top: 0.5rem;
    a {
      padding: 1rem;
    }
    img {
      margin-left: 0.75rem;
    }
  }
} 
header {
	nav {
    text-align: center;
    max-height: 13vh;
    padding: 1.5em;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.2);
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
    align-items: center;
	}
}
a {
	justify-content: space-between;
	padding: 2em;
	text-decoration: none;
	cursor: pointer;
	font-size: x-large;
	letter-spacing: 2px;
	color: white;
	&:hover {
		text-decoration: none;
    color: orange;
  }
}
#logo {
  margin-left: 30px;
}
#account {
  .dropbtn {
    justify-content: space-between;
    text-decoration: none;
    margin-left: 30px;
    cursor: pointer;
    font-size: x-large;
    letter-spacing: 2px;
    color: white;
    &:hover {
      text-decoration: none;
      color: orange;
    }
  }  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 210px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    background:rgba(darkgrey,0.5); 
    display: block;
    &:hover {
      text-decoration: none;
      color: orange;
    }
  }
  .dropdown-content a:hover {
    background-color:white;
  }
    .dropdown:hover .dropdown-content {
    display: block;
    background-color: none;
  } 
  .dropdown:hover .dropbtn {
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
    color: white;
    &:hover {
      text-decoration: none;
      color: orange;
    }
  }
}
#categories {
  justify-content: center;
  /* .dropbtn {
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    font-size: x-large;
    letter-spacing: 2px;
    color: white;
    &:hover {
      transform: scale(1.5);
    }
  }   */
  .dropdown {
    position: relative;
    display: inline-block;
    &:hover {
      transform: scale(1.1);
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 210px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: white;
    padding: 16px;
    text-decoration: none;
    background:rgba(darkgrey,0.5); 
    border-radius: 1px;
    display: block;
    &:hover {
      text-decoration: none;
      color: orange;
    }
  }
  .dropdown-content a:hover {
    background-color:white;
  }
    .dropdown:hover .dropdown-content {
    display: block;
    background-color: none;
  } 
  .dropdown:hover .dropbtn {
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
    color: white;
    &:hover {
      text-decoration: none;
      color: orange;
    }
  }
}
/*formulaire*/
.form {
    border: 1px solid white;
    background-color: rgba(117, 190, 218, 0.1);
    max-width: 500px;
    text-align:center;
    border-radius: 4px;
    justify-content: center;
    padding: 30px;
    margin:20px auto;
    box-shadow:0 1px 3px 1px rgba($color: black, $alpha: .3); 
    .headform{
        list-style:none;
        padding:0;
        margin:0 0 40px 0;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
      li {
        display:block;
        text-decoration:none;
        padding:15px;
        background:rgba(lightgrey,.25);
        color:lightgrey-light;
        font-size:20px;
        float:left;
        width:50%;
        text-align:center;
        cursor:pointer;
        transition:.5s ease;
        box-shadow:0 1px 3px 1px rgba($color: black, $alpha: .3); 
        &:hover {
          background:white;
          color:orange;
        }
      }
    }
    a {
      padding: 0;
    }
    #tab-content-connexion {
      display: none;
    }
    .signup-content{
      flex-direction: column;
      input {
        font-size:20px;
        padding:5px 10px;
        background:none;
        border:1px solid lightgrey;
        color:white;
        border-radius:0;
        box-shadow:0 1px 1px 1px rgba($color: black, $alpha: .3); 
        transition:border-color .25s ease, box-shadow .25s ease;
        &:focus {
              outline:0;
              border-color:orange;
          }
      }
      input[type="checkbox"]{
        width: 15px;
        height: 15px; 
        cursor: pointer;
      }
     
      label {
        display: flex;
        text-align: left;
        font-size: 20px;
        margin-bottom: 0.1rem;
      }
      label + input {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
    #obligatory {
      display: flex;
      text-align: left;
      font-size: 12px;
      margin-bottom: 0.4rem;
    }
    #forgot{
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      a {
        margin-bottom: 1rem;;
      }
    }
      button, input[type=submit] {
        border:0;
        width: 100%;
        outline:none;
        border-radius:0;
        padding:10px 0;
        font-size:2rem;
        letter-spacing:.1em;
        cursor: pointer;
        background:white;
        color:black;
        &:hover, &:focus {
          background:orange;
          color:white
        }
      }
  }
 /*Accueil*/ 
.container {
  max-width: 800px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
      .success {
        border: 1px solid white;
        padding: 0.5rem;
        background-color: orange;
        color: white;
      }
      .danger {
        border: 1px solid white;
        padding: 0.5rem;
        background-color: orangered;
      }
  .first-article, #second-article {
    border: 1px solid white;
    background-color: rgba(117, 190, 218, 0.1);
    max-width: 700px;
    border-radius: 3px;
    height: 25vh;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    h1 {
      margin: 0 0 0 auto;
      padding: 0;
    }
    p {
      font-size: 1.4rem;
    }
  }
}
/*Categories*/
.category-container {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgba(117, 190, 218, 0.1);
  border: 1px solid white;
  border-radius: 4px;
  justify-content: center;
  padding: 30px;
  margin: 2rem auto;
  a {
    padding: 1rem;
  }
  div {
    margin-bottom: 1rem;
  }
}

/*Liste des produits*/
#product-list {
  display: flex;
  flex-direction: row;
  .filters {
    max-width: 200px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    max-height: 75vh;
    background-color: rgba(117, 190, 218, 0.1);
    border: 1px solid white;
    margin: 3em auto;
    padding: 2em;
    input[type="checkbox"]{
      width: 15px;
      height: 15px; 
      cursor: pointer;
    }
    h2 {
      margin: 0;
    }
    h4{
      margin-bottom: 1rem;
    }
    div {
      margin-bottom: 1rem;
      margin-left: 0.6rem;
    }
    label {
      margin-left: 1rem;
    }
  }
  .products-container {
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;
    border-radius: 4px;
    text-align: center;
    font-size: 10px;
    div {
      box-shadow: 1px 3px 3px 1px black;
      height: 430px;
    }
    a .card {
      cursor: pointer;
    }
    .product-head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
      float: right;
      background-color: white;
      color: black;
      width: 300px;
      height: 50px;
      margin-bottom: 0.1rem;
      box-shadow:1px 1px black;
    }
  }
}
/* page profil */
.profil-container {
  display: flex;
  .orders-form {
    border: 1px solid white;
    background-color: rgba(117, 190, 218, 0.1);
    max-width: 1000px;
    text-align:center;
    border-radius: 4px;
    justify-content: center;
    padding: 30px;
    margin:20px auto;
    box-shadow:0 1px 3px 1px rgba($color: black, $alpha: .3);
    #orders {
      margin-top: 1em;
      border: 1px solid white;
      padding: 0.5em;
      /* border-collapse:separate; */
      th, td {
        padding: 1em;
        border:1px solid white;
      }
    } 
  }
  .profil {
    display:flex;
    text-decoration:none;
    justify-content: center;
    padding:15px;
    background:rgba(lightgrey,.25);
    color:lightgrey-light;
    font-size:20px;
    width: 100%;
    cursor:pointer;
    transition:.5s ease;
    box-shadow:0 1px 3px 1px rgba($color: black, $alpha: .3); 
    &:hover {
      background:white;
      color:orange;
    }
  }
}

/* page produit */
 .product-container {
   max-width: 1000px;
   border: 1px solid white;
   display: flex;
   margin: 2em auto;
   img {
     padding: 2em;
   } 
   #description {
    margin: 2em;
    border: 1px solid white;
    background-color: rgba(117, 190, 218, 0.1);
    width: 600px;
    height: 53vh;  
    padding: 2em;
    div {
      display: inline-block;
    }
    h3 {
      margin-top: 0;
      font-size: 20px;
    }
    p {
      font-size: 25px;
      height: 15vh;
    }
    #stats {
      margin-top: 0.5rem;
      font-size: 25px;
    }
    #price {
      margin-left: 49px;
      font-size: 100px;
    }
   }
   button {
    /* margin-top: 20px; */
    border:0;
    width: 100%;
    outline:none;
    border-radius:2px;
    padding:9px 0;
    font-size:2rem;
    letter-spacing:.1em;
    cursor: pointer;
    background:white;
    color:black;
    &:hover, &:focus {
      background:orange;
      color:white
    }
  }
 }